$base-color: #009760;
$hover-color: #0097602a;
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar {
    display: none;
  }
  .my-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    h2 {
      color: #009760;
      line-height: 1.2;
      text-transform: uppercase;
    }
    .title-underLine {
      width: 100px;
      height: 5px;
      background: #4de5f0;
    }
  }
}
